<h1>Projects#index</h1>

<% @projects.each do |project| %>
	<h4><%= project.title %></h4>
	<h5><%= project.desc %></h5>
	<p><%= project.dates %></p>
<% end %>
<br/>
<%= link_to "Create new project", new_project_path %>
